.cards__image {
  display: block;
  margin: 60px 40px 43px 40px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  transition: box-shadow .5s
}

.cards__image:hover {
  box-shadow: 10px 0 10px gray;
}
