.kaufman__triangle {
  background-image: url("../../../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 877px;
  width: 877px;
  right: -210px;
  position: absolute;
  top: 0;
}
