.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

  color: #000;
  /* Глобально задаю черный цвет текста. Везде, где надо иначе, переопределю в модификаторах */
}

.block_space_top {
  margin-top: 100px;
}

.block_space_bottom {
  margin-bottom: 100px;
}

.block_color_inverted {
  color: #fff;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-weight: bold;
  font-size: 102px;
  margin: auto auto auto 64px;
  padding: 0;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: " →";
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.logo {
  width: 183px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  height: 35px;
}

.description {
  display: flex;
}

.two-columns {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
  padding: 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1100px;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.section_space_bottom {
  margin-bottom: 20px;
}

.feynman {
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-weight: bold;
  font-size: 120px;
  margin: 100px 0 0 0;
  padding: 0;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  margin: 70px 0 0 0;
  padding: 0;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
}

.feynman__link::after {
  content: " →";
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.kaufman_space_top_bottom {
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 877px;
  width: 877px;
  right: -210px;
  position: absolute;
  top: 0;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_space_top_bottom {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 350px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
